<h1>Account Liste</h1>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts;">
                <td>{{account.id}}</td>
                <td><a routerLink="detail/{{account.id}}" routerLinkActive="active">
                    {{account.name}}  </a> </td>
                <td>{{account.email}}</td>
            </tr>
        </tbody>
    </table>
</div>

<router-outlet></router-outlet>

